<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>


    <body>
        <%- include ('../partials/header') %>
            <section>
                <div class="container">
                    <img src="/images/users/<%= user.avatar%>">
                    <div class="info">
                        <p>
                           E-mai: <%= user.email %>
                        </p>
                        <p>
                            Teléfono: <%= user.telefono %>
                        </p>
                        <p>
                            Perfil: <%= user.perfil_usr %>
                        </p>
                        <p>Intereses: <%= user.interes.join (", ") %>
                        </p>
                    </div>

                </div>

            </section>



            <%- include ('../partials/footer') %>

    </body>

</html>